$blue: #009FE3;
$lightblue: #E9FAFF;
$black: #1D1D1B;
$font: 'Roboto', sans-serif;
$spacer: 20px;


html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

h1, h2, h3, p, a {
    font-family: $font;
    line-height: 1,5;
}

h1 {
    font-size: 500;
    color: $blue;
    font-size: 36px;
}

h2 {
    font-size: 500;
    color: $black;
    font-size: 24px;
}

p {
    font-size: 300;
    color: $black;
    font-size: 16px;
}


/* HEADER */

.hlavicka {

    background-image: url(/images/Podbaba-under-watter_1400x531.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 531px; 
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin: 0 auto;
    padding: 0 $spacer;
    max-width: 600 px;


    .logo2 {
        width: 150px;
        margin-right: $spacer;
    }

    .menu a {
        text-align: right;
        margin: 20px;
        list-style: none;
        text-decoration: none;
        text-shadow: 0.5px 0.5px 0px $black;
        color: $blue;
        font-size: 22px;
        }

        .menu li {
            display: block;
        }
}

    @media screen and (min-width: 800px) {
    

        .hlavicka {
             display: flex;
             justify-content: space-between;
             align-items: start;
             margin: 0 auto;
            padding: 0 $spacer;
              
            .logo2 {
                width: 150px;
            }

           
            
            .menu a {
                display: flex;
                text-align: right;
            
                list-style: none;
                text-decoration: none;
                color: #009FE3;
                font-size: 22px;
                }
                
            .menu li {
                    display: inline-block;
                }
                
            .menu a:hover,
            .menu a:focus, 
            .menu a:active {
                font-weight: 700;
                }
            }    
        }
   
 .heropicture {
        object-fit: cover;
        object-position: center;
        height: 100%;
        }

  
/* MAIN */

.hero {
    margin: 0 auto;
    display: block;
	background-color: #E9FAFF;
    padding-bottom: $spacer;

   

    .onecolumn {
	text-align: center;
	max-width: 900px;
    margin: auto;
    padding: $spacer*2;
    }

    .headline {
	display: flex;
   
        h1 {
        margin: auto;
        }
    }

    .kapky_vlevo, .kapky_vpravo {
	max-width: 70px;
    }
}

body {
    max-width: 1400px;
    margin: auto;
}

.aktualne {
    display: block;
}

.levy,
.pravy {
    flex: none;
    width: auto;
    margin: 0;
    padding: $spacer;
}

.aktualneimg {
    max-width: 300px;


}

@media screen and (min-width: 800px) {
    .aktualne {
        display: flex;


        .levy,
        .pravy {
        flex: 0 0 50%;
        margin: 0 auto;
        padding: $spacer;
        }

        .aktualneimg {
        width: 400px;
    }
    }
}


.button {
    color: $blue;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    

    .button a:hover,
    .button a:focus, 
    .button a:active {
    font-weight: 700;
}

}
.vlnka {
	max-width: 150px;
	margin: auto;
    padding: $spacer 0;
}

.povodne {
    display: block;


.levy {
    background-image: url(/images/foto_2013_2.jpg);
    margin: $spacer*3;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
 height: 431px;
    max-width: 100%; 

}
.levy,
.pravy {
    flex: none;
    width: auto;
    margin: 0;
    padding: $spacer;
}

}
@media screen and (min-width: 800px) {
    .povodne {
        display: flex;
    
        .levy {
            flex: 0 0 50%;
            margin: 0 auto;
            padding: $spacer*3;
    
    
        }
        
        .pravy {
            flex: 0 0 50%;
             margin: 0 auto;
             padding: $spacer*3;
        }
    }
}

.protipovodnovky {
    display: block;

    .pravy {
        background-image: url(/images/stock-photo-floods-2.jpg);
        margin: $spacer*3;
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
     height: 431px;
        width-width: 100%; 
    }
.levy,
.pravy {
    flex: none;
    width: auto;
    margin: 0;
    padding: $spacer*2;
}

.foto_2013 {
    width: 100%;
    max-width: 600px;
}
}

@media screen and (min-width: 800px) {

.protipovodnovky {
	display: flex;

    .levy {
        flex: 0 0 50%;
        margin: 0 auto;
        padding: $spacer*3; 
    }
    
    .pravy {
        flex: 0 0 50%;
         margin: 0 auto;
         padding: $spacer*3;

        } 
    }
}


/* PATIČKA */
.paticka {
	background-image: url(/images/paticka_1100x417.png);
	padding: 30px 0;
	text-align: center;
	margin: 0 auto;

    .textpaticka {
        color: white;
        padding-top: 30px;
    }
}

/* POVODNĚ */

.povodne2013,
.povodne2002 {
    padding: $spacer;
}

.gallery__grid {
    display: block;
    gap: 1px;
}

.gallery__item {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: $spacer;
}

.gallery__item:nth-child(5n+2) {
    grid-column: unset;
    grid-row: unset;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 800px) {

    .povodne2013,
    .povodne2002 {
    padding: $spacer $spacer*3;
}
    .gallery__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px;
        grid-auto-flow: dense;
     
    }

    .gallery__item:nth-child(5n+2) {
        grid-column: span 2;
        grid-row: span 2;
        width: 100%;
        height: 100%;   
    }
    
}

  /* PROTIPOVODŇOVKY PAGE */
  .protipovodnova {
    padding: $spacer;
  }

  @media screen and (min-width: 800px) { 
  .protipovodnova {
    padding: $spacer $spacer*3;
  }
}

 /* KONTAKT */

 .kontakt {
    padding: $spacer;

    a {
        color: $blue;
    }
 }

 @media screen and (min-width: 800px) { 
    .kontakt {
        padding: $spacer $spacer*3;
    
        a {
            color: $blue;
        }
     }
    }
  
 /* AKTUALNE */

 .clanky {
   padding: $spacer;

    a {
        text-decoration: none;
        color: $blue;
    }
}

@media screen and (min-width: 800px) { 
    .clanky {
        padding: $spacer $spacer*3;
    }
    a {
        text-decoration: none;
        color: $blue;
    }
}

/* AKTUALNE CLANKY*/
.article {
    padding: $spacer;
    
    .article__meta {
        color: $blue;
    }

    .article__perex {
        font-weight: 500;
        font-size: 20px;
    }
}


@media screen and (min-width: 800px) { 
    .article {
        padding: $spacer*3;
        
        .article__meta {
            color: $blue;
        }
    
        .article__perex {
            font-weight: 500;
            font-size: 20px;
        }
    }
}