<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- Hlavička -->
	<header class="hlavicka">
		<img class="logo" src="/images/vodypokrk_logo_širka-08.svg" alt="logo Vody po krk">

		<ul class="menu">
             <li><a href="/">Úvod</a></li>
			<li><a href="/aktualne">Aktuálně</a></li>
			<li><a href="/povodne">Povodně</a></li>
			<li><a href="/protipovodnovky">Protipovodňovky</a></li>
			<li><a href="/kontakt">Kontakt</a></li>
		</ul>
	</header>
  
<!-- Main -->
<main class="main">


<article class="article">

	<h1 class="article__title">{{ title }}</h1>

	<p class="article__meta">Publikováno {{ page.date.toLocaleString('cs-CZ') }}</p>
	<div class="article__content">

		<div class="article__text">

			<p class="article__perex">{{ perex }}</p>

			{{ content | safe }}
		
		</div>



	</div>

</article>


</main>

<!-- Patička -->
<footer class="paticka">
    <p class="textpaticka">©2023, Jarka Koňaříková. Informační web spolku Šárecké údolí.</p>
</footer>

</body>

</html>